:root {
    --accent: rgb(17, 91, 202);
    --lightest-gray: rgb(240, 240, 240);
    --light-gray: rgb(150, 150, 150);
    --gray: rgb(100, 100, 100);
    --dark-gray: rgb(15, 15, 15);
    --header-height: 49px;
}

body {
    margin: 0;
}

.header {
    position: sticky;
    padding: 0.25rem 0.5rem;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
    height: var(--header-height);
}

.menu-icon-btn {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 24px;
    background-color: var(--lightest-gray);
}

.menu-icon {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    fill: var(--gray);
}

.menu-icon:hover {
    width: 24px;
    height: 24px;
    fill: var(--dark-gray);
    cursor: pointer;
}

.sidebar.open {

}

.sidebar {
    flex-shrink: 0;
    width: 75px;
    border-right: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    display: flex;
}

.content {
    margin: 1rem;
}

.sidebar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
}

.sidebar-icon {
    width: 32px;
    height: 32px;
}

.sidebar-link {
    display: flex;
}

.sidebar.open .hidden-sidebar {
    display: block;
}

.sidebar .hidden-sidebar {
    display: none;
}

.sidebar-list-item {
    width: 100%;
    fill: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0;
}

.sidebar-list-item.active {
    fill: var(--accent);
    background-color: var(--lightest-gray);
}