body{
    background-color:#f4f4f4;
    color:#000000;
    font-family: Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

h1{
    width: 10%;
    font-size: 48px;
    margin:auto;
}

.poll-box{
    width: 25%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    margin-left: 1%;
    margin-top: 1%;
    border: 2px rgb(0, 0, 0) solid;
    padding: 5px;
}

.poll-box h1{
    font-size: 24px;
    margin:0;
    width: 100%;
}

.tabs-box{
    background-color: rgb(71, 71, 71);
    border: 2px rgb(0, 0, 0) solid;
    padding-left: 35%;
}