body, div, html, canvas {
    margin: 0;
    padding: 0;
}

.bigbagle {
    flex-shrink: 0;
    background: url(img/bigbagel.png) center;
    background-size: 100%;
    cursor: pointer;
    border-radius: 1000px;
    width: 256px;
    height: 256px;
}

.sectionleft {
    width: 30%;
    right: 0;
    top: 0;
    bottom: 100%;
    left: 30%;
}

#backgroundCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}