body, button, div, shoph1, canvas {
    margin: 0px;
    padding: 0px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

#particles {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100000000000;
}

.particle {
    pointer-events: none;
    left: -200px;
    bottom: 0px;
    width: 100px;
    z-index: 100000000;
    text-align: center;
    text-shadow: 1px 1px 1px #000, 0px 0px 6px #000;
    color: white;
    font-size: 24px;
    overflow: hidden;
}

.sectionleft {
    background: url("img/background.png"), repeat;
    background: url(img/gradienttop.png) repeat-x top left, url(img/gradientbottom.png) repeat-x bottom left, url(img/gradientright.png) repeat-y right top, url(img/gradientleft.png) repeat-y left top, url("img/background.png"), repeat;
    position:absolute;
	left:0px;
	top:0px;
	width:30%;
	bottom:0px;
	min-width:100px;
    overflow: hidden;
}

.sectionmiddle {
    background-image: url("img/darknoise.png");
    position:absolute;
	left:30%;
	top:0px;
	right:318px;
	bottom:0px;
	min-width:100px;
    padding-left: 16px;
	overflow-x: hidden;
    overflow-y: hidden;
}

.sectionright {
    background-image: url("img/darknoise.png");
    height:100%;
	position:absolute;
	top:0px;
	right:0px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.fishcountercontainer {
    position: absolute;
    left: 0px;
    top: 10%;
    width: 100%;
    text-align: center;
    z-index: 200;
    background: #000;
    background: rgba(0,0,0,0.4);
    font-size: 28px;
    text-shadow: 0px 0px 4px #000;
    color: #fff;
    padding: 2px 0px;
    pointer-events: none;
}

.fishcountercontainer .fishpersecond {
    font-size: 16px;
}

@keyframes wobblein {
    0% {transform: scale(100%)}
    25% {transform: scale(130%)}
    75% {transform: scale(105%)}
    95% {transform: scale(120%)}
    100% {transform: scale(115%)}
}

.clickercontainer img {
    cursor: url(img/finger.png), auto;
    position: relative;
    top: 256px;
    transition: all .1s ease-in-out;
    filter: drop-shadow(0px 0px 20px #000000);
}

.clickercontainer img:hover {
    transform: scale(1.15);
}

.clickercontainer img:active {
    transform: scale(0.80);
}

shoph1 {
    font-size: 32px;
    color: #ffffff;
    filter: drop-shadow(0px 0px 5px #ffffffc2)
}

.shopbutton {
    width: 300px;
    height: 64px;
    cursor: url(img/finger.png), auto;
    background: url("img/shopbuttons.png");
    position: relative;
    font-size: 24px;
}

.shopbutton:nth-child(4n-3) {background-position:0px 64px;}
.shopbutton:nth-child(4n-2) {background-position:0px 128px;}
.shopbutton:nth-child(4n-1) {background-position:0px 192px;}

.shopbutton #shopimage {
    width:64px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
    margin: 0px;
}

.shopbutton #shopimage img {
    width: 64px;
	height: 64px;
	position:absolute;
	left:0px;
	top:0px;
    margin: 0px;
}

.shopbutton #content {
    display: inline-block;
	position: absolute;
	left: 64px;
	top: 6px;
	right: 0px;
	bottom: 6px;
	padding:4px;
    color: #ffffff;
	text-shadow:0px 0px 6px #000,0px 1px 1px #000;
}

.shopbutton #name{
    top: 3px;
    font-size: 24px;
}

.shopbutton #amount {
    position:absolute;
	right:8px;
	bottom:5px;
	font-size:40px;
	opacity:0.2;
	color:#000;
	text-shadow:0px 0px 8px #fff;
	letter-spacing:-2.5px;
}

.shopbutton #cost {
    left: 3px;
    top: 3px;
    font-size: 16px;
}

.sectionfooter {
    left: 0px;
    bottom: 0px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shopbutton:hover {
    box-shadow:0px 0px 16px #fff inset,0px 0px 1px #000;
	z-index:20;
	filter:brightness(115%);
	-webkit-filter:brightness(115%);
}

.shopbutton:active {
    box-shadow:0px 0px 16px #000 inset,0px 0px 1px #000;
	z-index:20;
	filter:brightness(85%);
	-webkit-filter:brightness(85%);
}

#upgradecontainer img {
    filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.8));
    cursor: url(img/finger.png), auto;
    background-color: #4c4c4c;
    border-width: 25px;
    border-radius: 5px;
    border-color: #000000;
    width: 48px;
    height: 48px;
}

#achievementcontainer img {
    cursor: url(img/finger.png), auto;
    border-color: #000000;
    background-color: #4c4c4c;
    border-width: 25px;
    border-radius: 5px;
    width: 48px;
    height: 48px;
}

.woodbutton {
    width: 256px;
    height: 64px;
    overflow: hidden;
    background-image: url(img/woodbutton.png);
    border: none;
    cursor: url(img/finger.png), auto;
    color: #c6c6c6;
}

.woodbutton:active {
    background-image: url(img/woodbutton-active.png);
}

.seperatorleft {
    width: 16px;
    height: 100%;
    background: url(img/stonedivv.png) repeat-y;
    background: url(img/gradienttop.png) no-repeat top left,url(img/gradientbottom.png) no-repeat bottom left,url(img/stonedivv.png) repeat-y;
    position: absolute;
    left:30%;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}

.seperatorright {
    width: 16px;
    height: 100%;
    background: url(img/stonedivv.png) repeat-y;
    background: url(img/gradienttop.png) no-repeat top left,url(img/gradientbottom.png) no-repeat bottom left,url(img/stonedivv.png) repeat-y;
    position: absolute;
    right: 317px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}

.sepatorbottom {
    width: 100%;
    height: 16px;
    background: url(img/stonedivh.png) repeat-x;
    background: url(img/gradientleft.png) no-repeat left top, url(img/gradientright.png) no-repeat right top,url(img/stonedivh.png) repeat-x;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

body 
{
    cursor: url(img/cursor.png), auto;
    font-family: Georgia, Helvetica, sans-serif;
    font-size:32px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

button
{
    font-family: Georgia, Helvetica, sans-serif;
    font-size:32px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}