@font-face {
    font-family: winn;
    src: url(/WINN.otf) format("opentype");
}
.flex {
    display: flex;
    justify-content: flex-start;
}

.sectionleft {
    background-image: url("img/background.png");
    width: 75%;
    height: 100%;
}

.sectionright {
    width: 25%;
    height: 100%;
}

.fishcountercontainer {
    background-color: #444444aa;
    color: #cccccc;
    width: 50%;
    border-radius: 1000px;
    padding: 1px;
    font-size: 24px;
    font-weight: bold;
}

.clickercontainer img {
    cursor: url(img/finger.png), auto;
    position: relative;
    transition: all .1s ease-in-out;
    filter: drop-shadow(0px 0px 20px #000000);
}

.clickercontainer img:hover {
    transform: scale(1.10);
}

.clickercontainer img:active {
    transform: scale(0.80);
}

.shopbutton {
    cursor: url(img/finger.png), auto;
    padding: 4px;
    background-image: url("img/button.png");
    background-color: #cccccc;
    background-size: contain;
    font-size: 24px;
    max-width: 480px;
    max-height: 56px;
    min-width: 480px;
    min-height: 56px;
}

.shopbutton img {
    height: 90px;
    width: 90px;
    filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.8));
}

.shopbutton #nameandcost p{
    font-size: 16px;
    width: 60%;
}

.shopbutton #nameandcost p:first-of-type{
    font-size: 24px;
}

.shopbutton #amount {
    font-size: 48px;
    color: #595959;
    width:15%;
}

.sectionfooter {
    margin-top: 20%;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shopbutton:hover {
    background-image: url("img/buttonhover.png");
}

.shopbutton:active {
    cursor: url(img/cursor.png), auto;
    background-image: url("img/buttonpressed.png");
}

#upgradecontainer img {
    filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.8));
    cursor: url(img/finger.png), auto;
    background-color: #4c4c4c;
    border-width: 25px;
    border-radius: 5px;
    border-color: #000000;
    width: 64px;
    height: 64px;
}

#achievementcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#achievementcontainer img {
    cursor: url(img/finger.png), auto;
    border-color: #000000;
    background-color: #4c4c4c;
    border-width: 25px;
    border-radius: 5px;
    width: 64px;
    height: 64px;
}

body 
{
    cursor: url(img/cursor.png), auto;
    font-family: winn, Helvetica, sans-serif;
    font-size:32px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

button
{
    font-family: winn, Helvetica, sans-serif;
    font-size:32px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}